
 
  
  body {
    background-color:rgba(187, 183, 183, 0.877);
    font-size: 1rem; /* 15px */
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    text-align: center; 
    
  }
  div {


  background-color:white;
  justify-content: center;
  align-items: center;
  margin: 2em;
  border-radius: 1rem;
  

  }

 
  img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }
  
